setting.dtd

<!ELEMENT settings ((directories|values|setting)+)>
<!ELEMENT directories ((directory)+)>
<!ELEMENT directory (#PCDATA)>
<!ATTLIST directory name CDATA #REQUIRED>
<!ELEMENT values ((value|valuez)+)>
<!ELEMENT valuez ((value)+)>
<!ELEMENT value (#PCDATA)>
<!ATTLIST value name CDATA #REQUIRED>
<!ELEMENT setting (#PCDATA)>
<!ATTLIST setting name CDATA #REQUIRED>









